{% for tag in page.tags reversed %}
    <a class="mazas" style="float:right" href="{{site.baseurl}}/tag/{{tag|slugify}}.html">
        <i class="fas fa-map-pin"></i> {{tag}}        
    </a>   
{% endfor %}
{% if page.dienu_sk==0 %}
    <a class="tekstas" style="float:left" >{{page.date | date: "%Y-%m-%d" }}</a>
    <div style="clear: both"></div>
    <br><br><h2># {{page.diena}}, {{page.title}}</h2>
 {% else %}
    <a class="tekstas" style="float:left" >{{page.date | date: "%Y-%m-%d" }} - {{page.diena | minus : 1 | plus : page.dienu_sk | times : 86400 | plus : 1578913600 | date: "%Y-%m-%d" }}</a>
    <div style="clear: both"></div>
    <br><br><h2># {{page.diena}}-{{page.diena | plus : page.dienu_sk}}, {{page.title}}</h2>    
{% endif %}