{% assign valstybes_tag = '' %}
{% for post in site.posts %}
    {%assign indeksas=post.tags.size | minus:1%}{% assign temp = post.tags[indeksas] %}{% assign valstybes_tag = valstybes_tag | append:temp | append:"," %}
{% endfor %}{% assign valstybes_tag = valstybes_tag | split:"," | uniq | sort %}{%assign valstybes_tag_size =valstybes_tag.size | minus :1%}
<p style="text-align: center ">
    {% for i in (0..valstybes_tag_size) %}
       <a class="didelis polaroidine" href="{{site.baseurl}}/tag/{{ valstybes_tag[i] | slugify }}">{{valstybes_tag[i]}}</a>
    {% endfor %}
</p>