<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>South East Asia Trip</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="South East Asia Trip" />
<meta name="author" content="South East Asia Trip" />

<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->

<!-- Animate.css -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.css">
<!-- Theme style  -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<link href="https://fonts.googleapis.com/css?family=Bellefair&amp;subset=latin-ext" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/baguetteBox.css">


<!-- FOR IE9 below -->
<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
