<!DOCTYPE HTML>

<html>
 
<head>
    {% include top.html%}
</head>

<body>
    <div class="fh5co-loader"></div>
    <div id="page">
        {% include header.html %}
        <div id="fh5co-work">
            <div class="container">
                {% include dienos_head.html%}
                <br>
                <div style="text-align:justify; font: arial;">{{content}}</div>
                    {% include skaitiklis.html%}<br>
                <div>
                    {% if page.next.url %}<a class="nuoroda_sonai" style="float:left" href="{{site.baseurl}}{{page.next.url}}"><i class="fas fa-arrow-left"></i> # {% if page.next.dienu_sk==0 %}{{page.next.diena}}{% else %}{{page.next.diena}}-{{page.next.diena | plus : page.next.dienu_sk}}{% endif %}, {{page.next.title}}</a>{% endif %}
                    {% if page.previous.url %}<a class="nuoroda_sonai" style="float:right" href="{{site.baseurl}}{{page.previous.url}}"># {% if page.previous.dienu_sk==0 %}{{page.previous.diena}}{% else %}{{page.previous.diena}}-{{page.previous.diena | plus : page.previous.dienu_sk}}{% endif %}, {{page.previous.title}} <i class="fas fa-arrow-right"></i></a>{% endif %}
                </div>
                <div style="clear: both"></div>
                <br>
                {% include galerija.html%}<br><br>
                <iframe src={{page.zemelapis}} width="100%" height="450" frameborder="0" style="border:0;"allowfullscreen=""></iframe>
                <hr><br>
                {% include tag_sort.html %}<br>
            </div>
        </div>
        {% include footer.html%}
    </div>
    {% include bottom.html%}
</body>

</html>
