<!DOCTYPE HTML>

<html>
 
<head>
    {% include top.html%}
</head>

<body>
    <div class="fh5co-loader"></div>
    <div id="page">
        {% include header.html %}
        <div id="fh5co-work">            
            <div class="container">                  
                {% include tag_valstybe.html %}
                <div class="row">
                    {% for post in site.posts %}
                    <div class="
                        {% if forloop.index==1 or forloop.index==2 or forloop.index==3 or forloop.index==4 %}col-md-6 {% else %}col-md-3 {% endif %} text-center animate-box">
                        {% include thumbnails.html%}
                    </div>
                    {% endfor %}
                </div><br>
                {{content}}
            </div>
        </div>
        {% include footer.html%}
    </div>
    {% include bottom.html%}
</body>

</html>