<!DOCTYPE HTML>

<html>

<head>
    {% include top.html%}
</head>

<body>
    <div class="fh5co-loader" ></div>
    <div id="page">
        {% include header.html %}
        <div id="fh5co-work">                       
            <div class="container">   
                <p style="text-align: center ">
                    <a class=" didelis polaroidine" href="{{site.baseurl}}/tag/{{page.tag|slugify}}">{{page.tag}}</a>
                </p>
                <div class="row">                    
                    {% for post in page.posts %}      
                    <div class="col-md-3 text-center animate-box">
                        {% include thumbnails.html%}
                    </div>                                      
                    {% endfor %}
                </div>
                <hr><br>
                {% include tag_sort.html %}
            </div><br>
        </div>
        {% include footer.html%}
    </div>
    {% include bottom.html%}
</body>

</html>
